# Project
PROJECT_NAME=enterprise-task-manager

# Backend
BACKEND_PORT=8000

# Frontend
FRONTEND_PORT=5173

# Database
POSTGRES_DB=taskmanager
POSTGRES_USER=taskuser
POSTGRES_PASSWORD=taskpassword
POSTGRES_PORT=5432